<div class="header">
	{{ if .Site.Params.Avatar }}
		<div class="avatar">
			<a href="{{ .Site.BaseURL }}">
				<img src="{{ .Site.Params.Avatar }}" alt="{{ .Site.Title }}" />
			</a>
		</div>
	{{ end }}
	<h1 class="site-title"><a href="{{ .Site.BaseURL }}" class="img-link">
		<img src="/images/hm-site-logo.png" alt="{{ .Site.Title }}" title="{{ .Site.Title }}">
	</a></h1>
	<div class="site-description mt-5 mb-2 mx-1">
		{{- if isset .Site.Params "subtitle" -}}
		<p class="mt-0 mb-3 font-bold text-gray-500">{{ .Site.Params.Subtitle | markdownify }}</p>
		{{- end -}}
	</div>


	<div class="flex justify-between border-t border-b border-gray-300">
	  
		<nav class="nav">
			<ul class="flex items-center h-full">
				{{ range .Site.Menus.main }}
				<li class="">
					<a href="{{ .URL }}">{{ .Name }}</a>
				</li>
				{{ end }}
			</ul>
		</nav>

		<nav class="nav">
			<ul class="flat">
				{{- range $index, $key := .Site.Params.Directory -}}
				<li class="flex-none mr-4 text-center">
					<a href="{{ $key.url }}" title="{{ $key.name }}" class="logo-link">
						<img src="{{ $key.logo }}" alt="" class="mx-auto">
						<span class="block">{{ $key.name }}</span>
					</a>
				</li>				  
				{{- end -}}
			</ul>
		</nav>
	</div>
</div>
